* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #0B0B0B;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    width: 100%;
    height: 60px;
    background-color: #0B0B0B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2E2E2E;
    padding: 0 50px;
}
img {
    width: 150px;
    height: auto;
    display: block;
    margin-right: 50px;
}
nav {
    display: flex;
    gap: 25px;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 25px;
    font-style: bold;
    font-family: Arial, sans-serif;
}
nav a:hover {
    color: #FF5A00; 
}
.banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-bottom: 1px solid #2E2E2E;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 40px 0 0 25px;
    display: grid;
    grid-template-columns: repeat(4, 260px);
    justify-content: center;
    gap: 25px;
}
.produto-card {
    width: 260px;
    height: 425px;
    padding: 16px;
    box-sizing: border-box;
    background: #131212;
    border: 1.5px solid #2b282a;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    transition: .2s;
    text-decoration: none;
    color: inherit;
}
.produto-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, .15);
}
.produto-card img {
    width: 100%;
    height: 180px;
    display: block;
    object-fit: contain;
    margin-bottom: 15px;
    
}
.produto-card h3 {
    margin: 0 0 10px;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3;
}
.antigo-preco {
    margin: 0;
    font-size: 11px;
    color: #999;
}
.antigo-preco span {
    text-decoration: line-through;
}
.preco {
    margin: 4px 0 5px;
    font-size: 23px;
    font-weight: 700;
    color: #FF5A00;
}
.descricao {
    margin: 0;
    font-size: 11px;
    color: #999;
}
.carrinho {
    display: inline-block;
    width: fit-content;
    margin-top: auto;
    padding: 6px 10px;
    background: #e8f5ed;
    color: #23804d;
    font-size: 14px;
    text-decoration: none;
    margin-top: 15px;
}
